{% extends 'base.html' %}
{% block content %}
{% if error_message %}
    <p>{{error_message}}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div>
        <label for="username">One Time Password: </label>
            <input class="form-control" type="text" name="otp" required/>
    </div> 

    <div>
        <input class="btn btn-primary mt-3" type="submit" value="Confirm" />
        <a class="btn btn-secondary mt-3" href="{% url 'login' %}">Back</a>
      </div> 
</form>

{% endblock content %}